---
import Button from "./Button.astro";
---

<Button color={"primary"} variant={"solid"} className={"min-w-max"}>
  <span
    class="flex relative z-[5] font-medium text-lg font-semibold tracking-wide text-accent-light"
  >
    <slot />
  </span>
</Button>
