---
export interface Props {
  href: string;
  text: string;
}
const { href, text } = Astro.props;
---

<li>
  <a
    href={href}
    class="font-medium hover:text-primary-400 ease-linear duration-300 py-3"
  >
    {text}
  </a>
</li>
