---
export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<p
  class={`tracking-wide antialiased
   mb-8 text-lg md:text-4xl font-extrabold  ${className}`}
>
  <slot />
</p>
