---
import Paragraph from "../../../shared/Paragraph.astro";
import { Image } from "astro:assets";

import Title3 from "../../../shared/Title3.astro";

export interface Props {
  title: string;
  description: string;
  visual: string;
}

const { title, description, visual } = Astro.props;
---

<div
  class="group overflow-hidden rounded-lg h-full flex flex-col dark:bg-base-dark-800 shadow-lg dark:shadow-dark ring-1 ring-black/5 pt-2"
>
  <div class="grid grid-cols-1 content-between h-full mx-6 mb-6">
    <div class="flex">
      <div class="h-[50px] w-[50px] m-6">
        <div
          class="fill:accent dark:fill-accent-light dark:opacity-70 shrink-0 h-full"
        >
          <Fragment set:html={visual} />
        </div>
      </div>
      <Title3 className="dark:opacity-70 self-center">
        {title}
      </Title3>
    </div>

    <div class="self-baseline">
      <div class="text-sm opacity-60">
        {description}
      </div>
    </div>
  </div>
</div>
